/* css rules for footer */
@import url(forms.css) all;

.footer {
    background: linear-gradient(to top, #26417c, #3659a5);
    width: 100%;
    height: 140px;
    padding: 25px 0;
    font-family: 'Raleway_Medium';
    font-size: 12px;
}

hr{
    margin: 15px 0;
}

.footer li {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 25px;
}

.footer a{
    color: #fff;
    text-decoration: none;
}

.footer_menu {
    color: #fff;
    display: inline-block;
}

.footer_languages {
    float: right;
}
























